/* src/index.css */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@keyframes scroll {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}

.animate-scroll {
  animation: scroll 30s linear infinite;
  animation-play-state: running; /* default */
}
.animate-scroll-paused {
  animation-play-state: paused;
}
